@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Tiny5&display=swap');

:root {
  --bg-color: #000000;
  --primary-color: #ffffff;
  --secondary-colorc: #aaffff;
  --secondary-colorm: #ffaaff;
  --secondary-colory: #ffffaa;

  /* change the values below to your chosen font(s) */
  --heading-font: "Jersey 10", sans-serif;
  --paragraph-font: "Tiny5", sans-serif;

  color: var(--primary-color);

  /* removes antialiasing */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    margin: 0 auto;
    /* padding: 4em; */
    font-size: 18px;
    justify-content: center;
    justify-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: normal;
}

h1{
    justify-self: center;
    text-align: center;
    font-size: 64px;
}

#PC_controls_hint{
  display: none;
  justify-content: center;
  justify-items: center;
}

#mobile_controls_hint{
  justify-content: center;
  justify-items: center;
}

#score_div{
    max-width: 70vh;
    width: 70vw;

    display: flex;
    justify-content: space-between;
}

#game_canvas{
    position:relative;
    border:1px solid var(--primary-color);
    border-width: 4px
}

#mobile_controls{
  width: 60%;
  margin-bottom: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:10px;
}

button{
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  background: #0000;
  border-style: none;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

/* button img{
  width:100%;
  height:100%;
  user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
} */




#move_left_mobile_button{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url("images/left_button.png");
}

#move_forward_mobile_button{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: url("images/forward_button.png");
}

#move_right_mobile_button{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url("images/right_button.png");
}

#shoot_mobile_button{
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  background-image: url("images/shoot_button.png");
}

@media screen and (min-width:800px) {

  #PC_controls_hint{
    display:inherit;
  }

  #mobile_controls_hint{
    display: none;
  }
  
  #mobile_controls{
    display: none;
  }
  
}