*{
    font-family: Arial;
}

body{
    background-color: #94bfbc;
}

#content{
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

#ticket_form{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10px;
    column-gap: 10px;;
}

.field, .field_wide{
    display: flex;
    flex-direction: column;
}

.field_wide, #submit_button{
    grid-column: 1 / 3;
}

input, select, button{
    padding: 10px;
}

input, select{
    transition: 0.2s;
}
input:not(:empty){
    background-color: #e8eff3;
}
input:focus{
    background-color: #fff;
    outline-color: #2045ff;

    
}

button{
    background-color: #aabdd4;
}

button:hover{
    background-color: #d0dcec;
}


button:focus{
    background-color: #97a0ac;
}

[hidden]{
    display: none;
}

